header {
  background-color: #2d3651;
  background-image: url('../img/img-header.jpg');
  position: relative;

  min-height: 70vh;
  padding: $gap;

  color: $color-light;
  background-position: top center;
  background-size: cover;
}
.header {
  &-overlay {
    background-color: rgba($color-dark, 0.8);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  &-navbar {
    padding-left: 25%;

    &__item {
      margin-right: 30px;

      &--active {
        background-color: rgba($color-dark, 0.8);
        padding: 1px 5px;
      }
    }

    &__link {
      color: $color-light;
    }

  }

  &__btn {
    background-color: $color-accent;
    color: $color-light;
    padding: 5px ($gap * 2);
    border-radius: 3px;
    border: none;
    transition: all 0.3s ease-out;

    &:hover,
    &:active {
      background-color: $color-light;
      color: $color-accent;
    }
  }

  @media (max-width: 992px) {
    &-navbar {
      padding-left: 6vw;
      display: flex;
      flex-direction: column;

      &__item--active {
        text-decoration: underline;
      }

      &__list {
        order: 2
      }

      &__btn {
        order: 1;
        margin: 5vw 0;
        padding: 5px 20vw;
      }
    }
  }

  &-content {
    position: relative;
    transition: margin-top 0.5s;

    &__title,
    &__description {
      color: $color-light;
      text-align: center;

    }

    &__title {
      padding-top: 3vw;
      hyphens: auto;
    }

    &__description {
      padding: 0 8vw;
    }


    &__container-form {
      margin: ($gap * 2) 0;
      padding: 20px;
      background-color: rgba($color-dark, 0.9);
    }
  }

  &-form {

    &__item {
      padding: ($gap / 2) 15px;
    }
  }
}

  @media (max-width: 768px) {
    .header-form__btn {
      width: 100%;
      border-radius: 3px;
    }
  }


.animated-icon{
  width: 30px;
  height: $gap;
  position: relative;
  margin: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

.animated-icon span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.animated-icon span {
  background: #e3f2fd;
}


.animated-icon span:nth-child(1) {
  top: 0px;
}

.animated-icon span:nth-child(2), .animated-icon span:nth-child(3) {
  top: ($gap / 2);
}

.animated-icon span:nth-child(4) {
  top: $gap;
}

.animated-icon.open span:nth-child(1) {
  top: 11px;
  width: 0%;
  left: 50%;
}

.animated-icon.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.animated-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.animated-icon.open span:nth-child(4) {
  top: 11px;
  width: 0%;
  left: 50%;
}