main {
  margin: 40px auto;
}

.main-container__btn-testimonial {
  background-color: transparent;
  border: 1px solid $color-accent;
  color: $color-accent;
  padding: 10px 40px;

  transition: all 0.3s ease-out;

  &:hover,
  &:active {
    background-color: $color-accent;
    color: $color-light;
  }
}

.slick-slide .card {
  box-shadow: 0px 4px 8px 0px rgba($color-light-grey, 0.9);
  font-family: $font-detail;
  font-style: italic;
  font-weight: 400;
}

.content {
  padding-bottom: 10px;
  border-bottom: 1px solid rgba($color-dark, 0.1);
}


.slider {
  width: 50%;
  margin: 100px auto;
}

.slick-slide {
  margin: 0px 20px;
}


.slick-prev:before,
.slick-next:before {
  color: black!important;
}


.slick-slide {
  transition: all ease-in-out .3s;
  opacity: .2;
}

.slick-active {
  opacity: .5;
}

.slick-current {
  opacity: 1;
}



.slick-prev {
  left: 52px;
  z-index: 99;
}

.slick-next {
  right: 52px;
  z-index: 99;
}

.slick-dots {
  display: none !important;
}



@media (max-width: 992px) {
  .slick-list, .draggable {
    padding: 1px 10px !important;
  }
  .slider {
    width: 90vw;
    margin: 100px auto;
  }
  .slick-active {
    width: 80vw!important;
  }
  .slick-slide {
    margin: 0px 2px;
  }

  .slick-prev {
    left: 0px;
  }

  .slick-next {
    right: 7vw;
  }
}

@media (max-width: 550px) {

  .slick-next {
    right: 5vw;
  }
}


@media (max-width: 420px) {

  .slick-next {
    right: 3vw;
  }
}

